/* p{
    position: static;
} */


div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
}

/* #box3{
    position: absolute;
    top: 100px;
    left: 100px;
} */

/* #box1{
    position: fixed;
} */

.wrap{
    height:1000px;
    background-color: yellow;
    width: 100vw;
}

#box4{
    position: sticky;
    top: 0px;
}