.box{
    margin: 200px;
    background-color: aqua;
    /* transform: translate(10px,20px); */
    /* transform: rotate(-45deg); */
    /* transform: scale(2,3); */

    transform: skew(45deg);

}

div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;

}

.translated{
    transform: perspective(15px) translateZ(-10px);
}

.scaled{
    transform: perspective(200px) scaleZ(2) rotateX(15deg);
}